
body {
	background-color:#ffffff;
}

.container {
	margin:0 auto; 
	border-collapse:collapse;
	border-spacing:0;
	margin:0 auto;
	text-align:left;
	width: 664px;
	float: center;
}

.container tr {
	border-collapse: collapse; 
	border-spacing: 0;
	text-align: left;
	vertical-align: top;
}

.contained {
	margin:0 auto; 
	border-collapse: collapse; 
	border-spacing:0; 
	color: #474747;
	font-family: Helvetica,Arial;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.4;
	margin:0 auto;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 10px;
	text-align: center;
	width: 664px;
}


.Row1 {
	background-color: #f6f6f6; 
	border-collapse: collapse; 
	border-spacing: 0; 
	max-width:664px;
	margin: 0;
	padding: 0; 
	text-align: left;
	width: 100%;
}

.Row1 tr {
	border-collapse: collapse; 
	border-spacing: 0; 
	text-align: left; 
	vertical-align: top;
}

.Row1-td {
	margin:0 auto; 
	border-collapse:collapse;
	border-spacing: 0;
	color: #474747;
	font-family: Helvetica,Arial;
	font-size: 11px;
	font-weight:400;
	line-height:1.4; 
	margin:0 auto;
	padding-bottom: 10px;
	padding-left: 0; 
	padding-right:0;
	padding-top: 10px; 
	text-align: center; 
	width: 664px;
}

.Row1-center {
	font-family: Helvetica,Arial;
	text-align: center;
}

.Row1-center table tr td {
	border: 0;
	color: #474747;
	font-family: Helvetica,Arial;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	text-decoration: none;
}

.Row1-center table tr td p {
	border: 0;
	color: #474747;
	font-family: Helvetica,Arial;
	font-size: 11px; 
	font-weight: 400;
	line-height: 1.4;
	margin: 0;
	padding: 0;
	text-align: center; 
	text-decoration: none;
}

.Row1-a1 {
	border: 0;
	color: #474747;
	font-family: Helvetica,Arial;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	text-decoration: none;
}

 .Row1-a2 {
 	border: 0;
	color: #474747;
	font-family: Helvetica,Arial;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	text-decoration: none;
}

.Row2 {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 664px;
	margin: 0;
	padding:0; 
	text-align: left; 
	width:100%;
}

.Row2 tr {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	vertical-align: top;
}

.Row2-fasttrack {
	margin:0 auto;
	border-collapse: collapse;
	border-spacing: 0;
	color: #474747;
	font-family: Helvetica,Arial;
	font-size:12px;
	font-weight: 400;
	line-height: 1.4;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
	padding-top: 20px;
	text-align: center;
	width: 664px;
}

.Row2-center {
	font-family: Helvetica,Arial;
	text-align: center;
}

.Row2-center-a {
	border: 0;
	color: #474747;
	font-family: Helvetica,Arial;
	font-size: 12px; font-weight: 400;
	line-height: 1.4; 
	text-align: center;
}

.Row2-fasttrack-img {
	border: 0;
	font-family: Helvetica,Arial;
	max-width: 100%;
	outline: 0;
	text-align: center; 
	text-decoration: none;
}

.Row3 {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 664px; 
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
}

.Row3-tr {
	border-collapse:collapse;
	border-spacing:0;
	text-align:left;
	vertical-align:top
}

.Row3-spacer-left {
	margin:0 auto;
	border-collapse: collapse;
	border-spacing: 0;
	color:#474747;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:400;
	line-height:1.4;
	margin:0 auto;
	padding-bottom:20px;
	padding-left:0;
	padding-right:10px;
	padding-top:20px;
	text-align:left;
	width:265px;
}

.Row3-logo {
	margin:0 auto;
	border-collapse:collapse;
	border-spacing:0;
	color:#474747;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:400;
	line-height:1.4;
	margin:0 auto;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	padding-top:20px;
	text-align:center;
	width:94px;
}

.Row3-a {
	border:0;
	color:#474747;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:400;
	line-height:1.4;
	text-align:center;
}

.Row3-logo-img {
	background-color:#eb342e;
	border:0;
	border-color:#eb342e;
	color:#fff;
	font-family:'Arial Narrow',Helvetica,Arial,sans-serif;
	font-weight:600;
	line-height:80px;
	max-width:100%;
	outline:0;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}

.Row3-spacer-right {
	margin:0 auto;
	border-collapse:collapse;
	border-spacing:0;
	color:#474747;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:400;
	line-height:1.4;
	margin:0 auto;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:0;
	padding-top:20px;
	text-align:left;
	width:265px;
}

.Row4 {
	border-collapse:collapse;
	border-spacing:0; 
	max-width:664px; 
	padding:0; 
	text-align:left; 
	width:100%;
}

.Row4-tr {
	border-collapse:collapse;
	border-spacing:0;
	text-align:left;
	vertical-align:top;
}

.Row4-th {
	margin:0 auto;
	border-collapse: collapse;
	border-spacing: 0;
	color:#474747;
	font-family: Arial,sans-serif;
	font-size:12px;
	font-weight:400;
	line-height:1.4; 
	margin:0 auto; 
	padding-bottom:20px;
	padding-left:0;
	padding-right:0; 
	text-align:center; 
	width:664px; 
}

.Row4-center1 {
	letter-spacing:.04em;
	text-align:center;
}

.Row4-technology {
	border:0; color:#474747; 
	font-family:Helvetica,Arial;
	font-size:11px;
	font-weight:400;
	line-height:1.5;
	padding-left: 3px;
	padding-right:3px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}

.Row4-Home {
	border:0;
	color:#474747;
	font-family:Helvetica,Arial;
	font-size:11px;
	font-weight:400;
	line-height:1.5;
	padding-left:3px;
	padding-right:3px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}

.Row4-Baby {
	border:0;
	color:#474747;
	font-family:Helvetica,Arial;
	font-size:11px;
	font-weight:400;
	line-height:1.5;
	padding-left:3px;
	padding-right:3px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}

.Row4-center2 {
	letter-spacing:.04em;
	text-align:center;
}

.Row4-toys {
	border:0;
	color:#474747;
	font-family:Helvetica,Arial;
	font-size:11px;
	font-weight:400;
	line-height:1.5;
	padding-left:3px;
	padding-right:3px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}

.Row4-sports {
	border:0;
	color:#474747;
	font-family:Helvetica,Arial;
	font-size:11px;
	font-weight:400;
	line-height:1.5;
	padding-left:3px;
	padding-right:3px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}

.Row4-health {
	border:0;
	color:#474747;
	font-family:Helvetica,Arial;
	font-size:11px;
	font-weight:400;
	line-height:1.5;
	padding-left:3px;
	padding-right:3px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}

.Row4-center3 {
	letter-spacing:.04em;
	text-align:center;
}

.Row4-clothing {
	border:0;
	color:#474747;
	font-family:Helvetica,Arial;
	font-size:11px;
	font-weight:400;
	line-height:1.5;
	padding-left:3px;
	padding-right:3px;
	text-align:center;
	text-decoration: none;
	text-transform:uppercase;
}

.Row4-jewellery {
	border:0;
	color:#474747;
	font-family:Helvetica,Arial;
	font-size:11px;
	font-weight:400;
	line-height:1.5;
	padding-left:3px;
	padding-right:3px;
	text-align:center;
	text-decoration: none;
	text-transform:uppercase;
}

.Row4-gifts {
	border:0;
	color:#474747;
	font-family:Helvetica,Arial;
	font-size:11px;
	font-weight:400;
	line-height:1.5;
	padding-left:3px;
	padding-right:3px;
	text-align:center;
	text-decoration: none;
	text-transform:uppercase;
}

.Row4-center4 {
	letter-spacing:.04em;
	text-align:center;
}

.Row4-clearance {
	border:0;
	color:#474747;
	font-family:Helvetica,Arial;
	font-size:11px;
	font-weight:400;
	line-height:1.5;
	padding-left:3px;
	padding-right:3px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}

.Row4-pricedrops {
	border:0;
	color:#474747;
	font-family:Helvetica,Arial;
	font-size:11px;
	font-weight:400;
	line-height:1.5;
	padding-left:3px;
	padding-right:3px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}